#heading {
    color: black;
    -webkit-text-stroke: 0.5px white;
    font-size: 30px;
}

body {
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: white;
    background-image: url(./images/clear-day.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

p {
    font-size: large;
}

.search-container{
    margin-top: 2mm;
}

table {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 16px;
    margin-top: 1cm;
}

#narrow_table {
    max-width: 80%;
    width: 50%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#chartContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#statisticsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.gridItem {
    text-align: start;
    font-size: 14px;
    padding-left: 5mm;
}

canvas {
    margin-top: 1cm;
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 25%;
    padding: 5mm;
    background-color: rgba(255, 255, 255, 0.5);
}

th {
    text-decoration: underline;
    font-size: 18px;
}


@media screen and (min-width: 700px) {
    .list {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1.5cm;
    }
}

@media screen and (max-width: 600px) {
    th {
        font-size: 16px;
    }

    table {
        font-size: 14px;
    }

    #heading{
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    th {
        font-size: 14px;
    }

    table {
        font-size: 12px;
    }

    .gridItem {
        font-size: 12px;
    }

    #heading{
        font-size: 22px;
    }
}

@media screen and (max-width: 800px) {
    #chartContainer {
        width: 100%;
        margin-left: 10%;
        margin-bottom: 5%;
        margin-right: 10%;
    }

    canvas {
        margin-top: 0;
    }

    #narrow_table {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 550px) {
    #chartContainer {
        width: 100%;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-right: 5%;
    }
}